<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Link</title>
</head>
<body>
    <div style="margin-left: 350px">
        <p>链接表达式</p>

        <p>链接到绝对地址</p>
        <a th:href="@{https://www.baidu.com}">百度</a>
        <br/>
        <br/>
        <p>链接到相对地址</p>
        <a th:href="@{/thyl/query/student}">相对地址没有传参数</a>
        <br/>
        <br/>
        <p>链接到相对地址,传参数方式 1</p>
        <!-- 在@{}中，地址的最前面加上/；跳转时不会是服务器地址，而是自动加上了网站名的网站地址 -->
        <a th:href="@{'/thyl/query/student?id='+${stuId}}">相对地址传参数方式1</a>
        <br/>
        <br/>
        <p>链接到相对地址,传参数方式 2,推荐方式</p>
        <a th:href="@{/thyl/find/school(id=${stuId},name='lisi')}">相对地址传参数方式 2</a>
    </div>
</body>
</html>